---
title: Tarryn Bourhill
---

<div class="container-fluid about-section">
  <div class="row justify-content-center py-5">
    <div class="col-md-4">
      <h1 class="display-4 text-center">About me</h1>
      <p class="lead text-center">I'm trying to teach people that science isn't difficult, it's just new</p>
      <div class="d-flex justify-content-center mt-4">
        <a class="social-link" href="https://www.linkedin.com/in/tarrynbourhill">
          <i class="fab fa-linkedin fa-lg mx-3"></i>
        </a>
        <a class="social-link" href="mailto:mail@tbourhill.com">
          <i class="fas fa-envelope fa-lg mx-3"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid career-section">
  <div class="row justify-content-center pt-5 pb-4">
    <div class="col">
      <h2 class="text-center">Career</h1>
      <p class="text-center text-muted">My journey into science so far</p>
    </div>
  </div>
  <div class="d-none d-md-block pb-5">
    {% include career-timeline.html %}
  </div>
  <div class="d-block d-md-none pb-5">
    {% include career-timeline-mobile.html %}
  </div>
</div>

<div class="container-fluid skills-section">
  <div class="row justify-content-center pt-5 pb-0">
    <div class="col">
      <h2 class="text-center">Skills</h1>
      <p class="text-center text-muted">What I can bring to the table</p>
    </div>
  </div>
  <div class="row justify-content-center pb-5">
    <div class="col chart-container">
      <canvas id="skillsChart" width="500" height="500"></canvas>
    </div>
  </div>
</div>

<script>
  //Charts.defaults.global.defaultFontFamily = "'-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'";
  //Charts.defaults.global.defaultFontSize = 16;
  //Charts.defaults.global.defaultFontColor = '#000000';

  var ctx = document.getElementById('skillsChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: [
            'Writing',
            'Editing',
            'Critical thinking',
            'Time management',
            'Accountable',
            'Independent',
            'Teaching',
            'Life-long learner'
          ],
          datasets: [
            {
              data: [10, 10, 9, 8.5, 8, 8, 7, 7],
              backgroundColor: '#4DD0E1',
              borderWidth: 0
            },
            {
              data: [0, 0, 1, 1.5, 2, 2, 3, 3],
              backgroundColor: '#B2EBF2',
              borderWidth: 0
            }
          ]
      },
      options: {
          legend: {
            display: false
          },
          tooltips: {
            enabled: false
          },
          scales: {
              yAxes: [{
                  barThickness: 16,
                  gridLines: {
                    display: false,
                    drawBorder: false
                  },
                  stacked: true,
                  ticks: {
                    fontSize: 14,
                    fontFamily: "'-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'",
                    fontColor: '#6c757d',
                    beginAtZero: true
                  }
              }],
              xAxes: [{
                display: false,
                gridLines: {
                  display: false
                },
                stacked: true,
                ticks: {
                  beginAtZero: true
                }
              }]
          }
      }
  });
</script>
