<div class="row">
  <div class="col-2 career-center d-flex flex-column">
    <div class="career-timeline rounded-top h-100"></div>
    <div class="timeline-bubble rounded-circle d-flex justify-content-center align-items-center">
      <i class="fas fa-pen-fancy fa-lg timeline-icon"></i>
    </div>
    <div class="career-timeline h-100"></div>
  </div>
  <div class="col-10">
    <div class="card career-card right-card my-3">
      <div class="card-body">
        <h5 class="card-title">MaxCyte</h5>
        <p class="timeline-card-subtitle mb-3">
          <strong>Scientific Writer</strong>
        </p>
        <p class="timeline-date my-3">2021 - Present</p>
        <p class="card-text">
          As a scientific writer, I use my expertise in cell and gene therapy to accurately summarize and simplify
          scientific stories that highlight MaxCyte’s electroporation technology. I create marketing materials
          that are approachable and engaging
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 career-center d-flex flex-column">
    <div class="career-timeline rounded-top h-100"></div>
    <div class="timeline-bubble rounded-circle d-flex justify-content-center align-items-center">
      <i class="fas fa-graduation-cap fa-lg timeline-icon"></i>
    </div>
    <div class="career-timeline h-100"></div>
  </div>
  <div class="col-10">
    <div class="card career-card right-card my-3">
      <div class="card-body">
        <h5 class="card-title">University of Calgary</h5>
        <p class="timeline-card-subtitle mb-3">
          <strong>PhD</strong>
        </p>
        <p class="timeline-date my-3">2015 - 2021</p>
        <p class="card-text">
          During my PhD, I was interested in a virus called Reovirus. We don’t really understand why Reovirus
          can kill some cancers and not others. My PhD project investigated interactions occurring between
          Reovirus and cells (healthy, cancerous and stem cells) to find answers to this important question
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 career-center d-flex flex-column">
    <div class="career-timeline h-100"></div>
    <div class="timeline-bubble rounded-circle d-flex justify-content-center align-items-center">
      <i class="fas fa-graduation-cap fa-lg timeline-icon"></i>
    </div>
    <div class="career-timeline h-100"></div>
  </div>
  <div class="col-10">
    <div class="card career-card right-card my-3">
      <div class="card-body">
        <h5 class="card-title">University of the Witwatersrand</h5>
        <p class="timeline-card-subtitle mb-3">
          <strong>Masters</strong>
        </p>
        <p class="timeline-date my-3">2013 - 2014</p>
        <p class="card-text">
          During my Masters I designed and engineered a new virus to treat Hepatitis C.
          Technically, I genetically engineered an adeno-associated viral vector to carry
          polycistronic microRNA cassettes that interfered with Hepatitis C replication.
          All you need to know is the virus worked and I got my degree
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-2 career-center d-flex flex-column">
    <div class="career-timeline h-100"></div>
    <div class="timeline-bubble rounded-circle d-flex justify-content-center align-items-center">
      <i class="fas fa-graduation-cap fa-lg timeline-icon"></i>
    </div>
    <div class="career-timeline h-100 rounded-bottom"></div>
  </div>
  <div class="col-10">
    <div class="card career-card right-card my-3">
      <div class="card-body">
        <h5 class="card-title">University of the Witwatersrand</h5>
        <p class="timeline-card-subtitle mb-3">
          <strong>Bachelor of Science</strong>
        </p>
        <p class="timeline-date my-3">2009 - 2012</p>
        <p class="card-text">
          I completed my Bachelor of Science in 2011 and moved into the
          Molecular Medicine program to complete my Honours year
        </p>
      </div>
    </div>
  </div>
</div>
